[Desktop Entry]
Type=Application
Exec=komport-qt6 %f
Icon=komport-qt6
Comment=Serial port communicator and terminal emulator (Qt6 fork of Komport)
Comment[de]=Serielles Terminalprogramm (Qt6-Fork von Komport)
Terminal=false
Categories=Qt;Utility;
Name=Komport Qt6
Name[de]=Komport Qt6
