#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=komport %f
Icon=komport
Comment=Serial port communicator and terminal emulator
Comment[de]=Serielles Terminalprogramm
Terminal=false
Categories=Qt;Utility;
Name=Komport
Name[de]=Komport
